<h2> Sessions Matrix </h2>



<table>

    <theader>
        <tr>
            <th align=left> Day 1 </th>
            <th align=left> Room 1 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 2 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 3 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 4 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
        </tr>
    </theader>
    <tbody>
            
        <tr>
            <th>Sessions A : 9:00-10:30 </th>
            
                    <td align=left>
                        Business Cycles I
                        
                    </td>
            
                    <td align=left>
                        Firms I
                        
                    </td>
            
                    <td align=left>
                        International Economics I
                        
                    </td>
            
                    <td align=left>
                        Monetary Policy I
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions B : 10:50-12:20 </th>
            
                    <td align=left>
                        Young Economists Session
                        
                    </td>
            
                    <td align=left>
                        Business Cycles II
                        
                    </td>
            
                    <td align=left>
                        Heterogeneity I
                        
                    </td>
            
                    <td align=left>
                        Labour I
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions C : 13:20-14:50 </th>
            
                    <td align=left>
                        Firm’s Heterogeneity
                        
                    </td>
            
                    <td align=left>
                        International Economics II
                        
                    </td>
            
                    <td align=left>
                        Methods
                        
                    </td>
            
                    <td align=left>
                        Monetary Policy II
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions D : 15:10-16:40 </th>
            
                    <td align=left>
                        The Return of Inflation
                        
                    </td>
            
                    <td align=left>
                        Climate I
                        
                    </td>
            
                    <td align=left>
                        Firms II
                        
                    </td>
            
                    <td align=left>
                        Other
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions E : 17:00-18:30 </th>
            
                    <td align=left>
                        Climate II
                        
                    </td>
            
                    <td align=left>
                        Financial Macroeconomics
                        
                    </td>
            
                    <td align=left>
                        Inflation
                        
                    </td>
            
                    <td align=left>
                        Labour II
                        
                    </td>
            
        </tr>
        
    </tbody>

</table>


<table>

    <theader>
        <tr>
            <th align=left> Day 2 </th>
            <th align=left> Room 1 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 2 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 3 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
            <th align=left> Room 4 (<a href="http://www.t2m.network/nolink/"><img src="../assets/zoom_icon.png" height="20px"></a>)</th>
        </tr>
    </theader>
    <tbody>
            
        <tr>
            <th>Sessions F : 10:50-12:20 </th>
            
                    <td align=left>
                        Climate & Macroeconomics
                        
                    </td>
            
                    <td align=left>
                        Business Cycles III
                        
                    </td>
            
                    <td align=left>
                        International Economics III
                        
                    </td>
            
                    <td align=left>
                        Monetary Policy III
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions G : 13:20-14:50 </th>
            
                    <td align=left>
                        Energy Transition and Growth
                        
                    </td>
            
                    <td align=left>
                        Heterogeneity III
                        
                    </td>
            
                    <td align=left>
                        International Economics IV
                        
                    </td>
            
                    <td align=left>
                        Labour III
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions H : 15:10-16:40 </th>
            
                    <td align=left>
                        Exchange rate and capital flow policies with incomplete markets
                        
                    </td>
            
                    <td align=left>
                        Fiscal Policy
                        
                    </td>
            
                    <td align=left>
                        Heterogeneity II
                        
                    </td>
            
                    <td align=left>
                        Inflation II
                        
                    </td>
            
        </tr>
            
        <tr>
            <th>Sessions I : 17:00-18:30 </th>
            
                    <td align=left>
                        Financial Macroeconomics II
                        
                    </td>
            
                    <td align=left>
                        Fiscal Policy II
                        
                    </td>
            
                    <td align=left>
                        International Economics V
                        
                    </td>
            
                    <td align=left>
                        Monetary Policy IV
                        
                    </td>
            
        </tr>
        
    </tbody>

</table>

<p>


<h2> Sessions List </h2>

<p>




<div style="background-color:lightblue">
    Parallel Sessions A
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                9:00-10:30 | Business Cycles I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Johannes Boehm
    

    <p></p> 

    <ul>
    
        <li><em>The Ends of 27 Big Depressions</em>  &nbsp; by Martin Ellison
        </li>
    
        <li><em>The Trilemma for Low Interest Rate Macroeconomics</em>  &nbsp; by Jean-Baptiste Michau
        </li>
    
        <li><em>Health and Business Cycles in General Equilibrium</em>  &nbsp; by Alexey Khazanov
        </li>
    
        <li><em>Implementing Helicopter Money with Negative Interest Rates: Evidence from a Randomized Experiment</em>  &nbsp; by Johannes Boehm
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                9:00-10:30 | Firms I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Sophie Piton
    

    <p></p> 

    <ul>
    
        <li><em>Flexible Capital User Costs and Investment Dynamics with Non-Convex Adjustment Costs</em>  &nbsp; by Eugene Tan
        </li>
    
        <li><em>When should we tax firms? Optimal corporate taxation with firm heterogeneity</em>  &nbsp; by Alaïs Martin-Baillon
        </li>
    
        <li><em>Persistent Debt and Business Cycles in an Economy with Production Heterogeneity</em>  &nbsp; by Soyoung Lee
        </li>
    
        <li><em>Business creation during COVID-19</em>  &nbsp; by Sophie Piton
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                9:00-10:30 | International Economics I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Pierre De Leo
    

    <p></p> 

    <ul>
    
        <li><em>Global Portfolios, Exchange Rates, and Monetary Policy</em>  &nbsp; by Alejandro Van der Ghote
        </li>
    
        <li><em>Capital Flows and Exchange Rates: A Quantitative Assessment of the Dilemma Hypothesis</em>  &nbsp; by Shangshang Li
        </li>
    
        <li><em>The Risk of Inflation Dispersion in the Euro Area</em>  &nbsp; by Fabien Tripier
        </li>
    
        <li><em>Learning from Exchange Rates and Foreign Exchange Interventions</em>  &nbsp; by Pierre De Leo
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                9:00-10:30 | Monetary Policy I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Christophe Blot
    

    <p></p> 

    <ul>
    
        <li><em>Systematic Monetary Policy and the Effects of Government Spending</em>  &nbsp; by Klodiana Istrefi
        </li>
    
        <li><em>Effects and Spillovers of ECB Conventional and Unconventional Monetary Policy</em>  &nbsp; by Daniele Siena
        </li>
    
        <li><em>Costs of Leaning against the Wind: Evidence from High-Frequency Identification</em>  &nbsp; by Larissa Schwaller
        </li>
    
        <li><em>The puzzling effects of dissent in monetary policy committee </em>  &nbsp; by Christophe Blot
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions B
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Young Economists Session
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Isabelle Méjean
    

    <p></p> 

    <ul>
    
        <li><em>The Price of Stability: Volatility and the Rise in Markups during the Great Moderation</em>  &nbsp; by Giovanni Rizzi
        </li>
    
        <li><em>The Effects of the Legal Minimum Working Time on Workers, Firms and the Labor Market</em>  &nbsp; by Pauline Carry
        </li>
    
        <li><em>Shopping, Demand Composition, and Equilibrium Prices</em>  &nbsp; by Lukas Nord
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Business Cycles II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Margaret Davenport
    

    <p></p> 

    <ul>
    
        <li><em>Time Use and Macroeconomic Uncertainty</em>  &nbsp; by Daniela Hauser
        </li>
    
        <li><em>Disentangling the directions of technical change: a new growth accounting method</em>  &nbsp; by Emilien Ravigné
        </li>
    
        <li><em>Capital Gains Taxation, Learning and Bubbles</em>  &nbsp; by Pau Belda
        </li>
    
        <li><em>Granular Expectation Shocks and Financial Contagion</em>  &nbsp; by Margaret Davenport
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Heterogeneity I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Kai Arvai
    

    <p></p> 

    <ul>
    
        <li><em>Consumption Choices and Earnings Expectations: Empirical Evidence and Structural Estimation</em>  &nbsp; by Arne Uhlendorff
        </li>
    
        <li><em>No taxation without reallocation: the distributional effects of tax changes</em>  &nbsp; by Stephanie Ettmeier
        </li>
    
        <li><em>Sectoral Exposure to Aggregate Fluctuations, Employment Risk and Monetary Policy</em>  &nbsp; by Uros Herman
        </li>
    
        <li><em>Consumption Inequality in the Digital Age</em>  &nbsp; by Kai Arvai
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Labour I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Alex Clymo
    

    <p></p> 

    <ul>
    
        <li><em>Self-Insurance and Welfare in Turbulent Labor Markets</em>  &nbsp; by Alireza Sepahsalari
        </li>
    
        <li><em>The Dark Shadow of LaborMarket Reforms in the Open Economy</em>  &nbsp; by Brigitte Hochmuth
        </li>
    
        <li><em>A Quantitative Theory of the New Life Cycle of Women’s Employment</em>  &nbsp; by Lidia Cruces
        </li>
    
        <li><em>Job Mobility and Unemployment Risk</em>  &nbsp; by Alex Clymo
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions C
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Firm’s Heterogeneity
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Lorenza Rossi
    

    <p></p> 

    <ul>
    
        <li><em>Firm Heterogeneity, Capital Misallocation and Optimal Monetary Policy</em>  &nbsp; by Dominik Thaler
        </li>
    
        <li><em>Firm Heterogeneity, Market Power and Macroeconomic Fragility</em>  &nbsp; by Alessandro Ferrari
        </li>
    
        <li><em>Labour Share Decline and Productivity Slowdown: A Micro-Macro Analysis of the Spain Economy</em>  &nbsp; by Lorenza Rossi
        </li>
    
        <li><em>Corporate Debt Maturity Matters For Monetary Policy</em>  &nbsp; by Matthias Meier
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | International Economics II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Nuno Coimbra
    

    <p></p> 

    <ul>
    
        <li><em>Dollar Debt and the Global Financial Cycle</em>  &nbsp; by Paul Fontanier
        </li>
    
        <li><em>Financial Integration and International Comovement -- The Terms of Trade Channel</em>  &nbsp; by Johanna Krenz
        </li>
    
        <li><em>Privilege Lost? The Rise and Fall of a Dominant Global Currency</em>  &nbsp; by Nuno Coimbra
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Methods
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Matthias Rottner
    

    <p></p> 

    <ul>
    
        <li><em>State Reduction and Second-order Perturbations of Heterogeneous Agent Models</em>  &nbsp; by Michael Reiter
        </li>
    
        <li><em>Existence and Uniqueness of Recursive Equilibria with Aggregate and Idiosyncratic Risk</em>  &nbsp; by Elisabeth Proehl
        </li>
    
        <li><em>Indirect Inference: A Local Projection Approach</em>  &nbsp; by Juan Castellanos
        </li>
    
        <li><em>Estimating Nonlinear Heterogeneous Agents Models with Neural Networks</em>  &nbsp; by Matthias Rottner
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Monetary Policy II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Alberto Polo
    

    <p></p> 

    <ul>
    
        <li><em>Monetary Asymmetries (with and) without Price Stickiness</em>  &nbsp; by Ivan Jaccard
        </li>
    
        <li><em>Monetary Policy Transmission and the Role of High-Quality Liquid Assets</em>  &nbsp; by Juan Daniel Hernández
        </li>
    
        <li><em>Firm Financial Conditions and the Transmission of Monetary Policy</em>  &nbsp; by Daniel Ostry
        </li>
    
        <li><em>Imperfect Pass-Through to Deposit Rates and Monetary Policy Transmission</em>  &nbsp; by Alberto Polo
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions D
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | The Return of Inflation
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Sarah Mouabbi and sponsored by Banque de France
    

    <p></p> 

    <ul>
    
        <li><em>The Fiscal Consequences of Missing an Inflation Target</em>  &nbsp; by Michele Andreolli
        </li>
    
        <li><em>Household beliefs about fiscal dominance</em>  &nbsp; by Eric Mengus
        </li>
    
        <li><em>Quantifying the Inflationary Impact of Fiscal Stimulus Under Supply Constraints</em>  &nbsp; by Sebnem Kalemli-Ozcan
        </li>
    
        <li><em>A Fiscal Theory of Trend Inflation</em>  &nbsp; by Renato Faccini
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Climate I
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Anne Ernst
    

    <p></p> 

    <ul>
    
        <li><em>Carbon taxation and precautionary savings</em>  &nbsp; by Stefan Wöhrmüller
        </li>
    
        <li><em>The Distributional Costs of Net-Zero: A Heterogeneous Agent Perspective</em>  &nbsp; by Ghassane Benmir
        </li>
    
        <li><em>The Macroeconomic and Redistributive Effects of Shielding Consumers from Rising Energy Prices: the French Experiment</em>  &nbsp; by Selma Malmberg
        </li>
    
        <li><em>Climate Clubbing, Trade and the Natural Interest Rate</em>  &nbsp; by Anne Ernst
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Firms II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Marco Membretti
    

    <p></p> 

    <ul>
    
        <li><em>Optimal inflation with firm-level shocks</em>  &nbsp; by Henning Weber
        </li>
    
        <li><em>A Model of Zombie Firms and the Perils of Negative Real Interest Rates</em>  &nbsp; by Guillaume Rocheteau
        </li>
    
        <li><em>Firm Heterogeneity, Capital Misallocation and Optimal Monetary Policy</em>  &nbsp; by Dominik Thaler
        </li>
    
        <li><em>Entry cost shocks and the firm size distribution</em>  &nbsp; by Marco Membretti
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Other
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Raphael Abiry
    

    <p></p> 

    <ul>
    
        <li><em>Structural Change, Land Use and Urban Expansion</em>  &nbsp; by Nicolas Coeurdacier
        </li>
    
        <li><em>Aging Population and Technology Adoption</em>  &nbsp; by Daniele Angelini
        </li>
    
        <li><em>Demographic Change and Secular Trends in Interest Rates and Risk Premia</em>  &nbsp; by Raphael Abiry
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions E
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Climate II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Matthias Kaldorf
    

    <p></p> 

    <ul>
    
        <li><em>Climate Policies, Macroprudential Regulation, and the Welfare Cost of Business Cycles</em>  &nbsp; by Francesca Diluiso
        </li>
    
        <li><em>Decomposing the Inflation Response to Natural Disasters </em>  &nbsp; by Paul Vertier
        </li>
    
        <li><em>Does Monetary Policy Shape Oil Shocks’ Effects?</em>  &nbsp; by Dmitriy Sergeyev
        </li>
    
        <li><em>Climate Change and the Macroeconomics of Bank Capital Regulation</em>  &nbsp; by Matthias Kaldorf
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Financial Macroeconomics
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Maurice Hofmann
    

    <p></p> 

    <ul>
    
        <li><em>Relationship Lending and Monetary Policy Pass-Through</em>  &nbsp; by Pierre Dubuis
        </li>
    
        <li><em>Unemployment Insurance and Macro-Financial (In)Stability</em>  &nbsp; by Burhan Kuruscu
        </li>
    
        <li><em>Rational Overoptimism and Limited Liability</em>  &nbsp; by Luca Gemmi
        </li>
    
        <li><em>Optimal Income Taxation with Housing and Leveraged Financial Investment along the Transition Path</em>  &nbsp; by Maurice Hofmann
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Inflation
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Anastasiia Antonova
    

    <p></p> 

    <ul>
    
        <li><em>Energy Price Shocks, Unemployment Risk, and Monetary Policy</em>  &nbsp; by Nicolo' Gnocato
        </li>
    
        <li><em>Redistribution and the wage-price dynamics: Optimal fiscal and monetary policy</em>  &nbsp; by Xavier Ragot
        </li>
    
        <li><em>Aggregate Implications of Heterogeneous Inflation Expectations: The Role of Individual Experience</em>  &nbsp; by Esteban Verdugo
        </li>
    
        <li><em>State-dependent pricing and cost-push inflation in a production network economy</em>  &nbsp; by Anastasiia Antonova
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Labour II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Johannes Gönnsch
    

    <p></p> 

    <ul>
    
        <li><em>The Network Origin of Slow Labor Reallocation</em>  &nbsp; by Leonard Bocquet
        </li>
    
        <li><em>The Nash Wage Elasticity and its Business Cycle Implications</em>  &nbsp; by Matthew Knowles
        </li>
    
        <li><em>The Quality-Adjusted Cyclical Price of Labor</em>  &nbsp; by Marianna Kudlyak
        </li>
    
        <li><em>Wage Bargaining and Labor Market Policy with Biased Expectations</em>  &nbsp; by Johannes Gönnsch
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions F
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Climate & Macroeconomics
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Fanny Henriet
    

    <p></p> 

    <ul>
    
        <li><em>Carbon taxation and income distribution: Importance of nonlinear Engel curves</em>  &nbsp; by Armon Rezaï
        </li>
    
        <li><em>Fiscal Policy and Climate Change</em>  &nbsp; by Aurélien Saussay
        </li>
    
        <li><em>The Macroeconomic Consequences of the Energy Transition: the Role of Capital Stocks and Rigidities</em>  &nbsp; by Noëmie Lisack
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Business Cycles III
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Marlène Isoré
    

    <p></p> 

    <ul>
    
        <li><em>Nonlinearities with de-anchored inflation expectations</em>  &nbsp; by Stefano Fasani
        </li>
    
        <li><em>Business Cycles, Uncertain Growth and the Distribution of Production</em>  &nbsp; by Aubhik Khan
        </li>
    
        <li><em>Corporate Taxes, Productivity, and Business Dynamism</em>  &nbsp; by Andrea Colciago
        </li>
    
        <li><em>Markup Cyclicality: Extreme Value Theory within a Macroeconomic Framework</em>  &nbsp; by Marlène Isoré
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | International Economics III
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Michael Kumhof
    

    <p></p> 

    <ul>
    
        <li><em>Monetary Policy in a Dollarized Economy</em>  &nbsp; by Sébastien Lotz
        </li>
    
        <li><em>Helicopter drops in open economy when markets are incomplete</em>  &nbsp; by Sara Eugeni
        </li>
    
        <li><em>CBDC Policies in Open Economies</em>  &nbsp; by Michael Kumhof
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                10:50-12:20 | Monetary Policy III
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Antoine Camous
    

    <p></p> 

    <ul>
    
        <li><em>Gibson’s Paradox and the Natural Rate of Interest</em>  &nbsp; by Luca Benati
        </li>
    
        <li><em>New Principles For Stabilization Policy</em>  &nbsp; by Olivier Loisel
        </li>
    
        <li><em>Transaction value and money</em>  &nbsp; by Alessandro Gioffré
        </li>
    
        <li><em>Mumbling Monetary Theory</em>  &nbsp; by Antoine Camous
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions G
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Energy Transition and Growth
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Antonia Diaz
    

    <p></p> 

    <ul>
    
        <li><em>Vintage Capital Investment and Aggregate Energy Use Fluctuations</em>  &nbsp; by Luis Puch
        </li>
    
        <li><em>Renewable Technology Adoption Costs and Economic Growth</em>  &nbsp; by Bernardino Adao
        </li>
    
        <li><em>The green metamorphosis of a small open economy</em>  &nbsp; by Hernan Seoane
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Heterogeneity III
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Vedanta Dhamija
    

    <p></p> 

    <ul>
    
        <li><em>A HANK Model with Monetary Search Frictions</em>  &nbsp; by Joël Marbet
        </li>
    
        <li><em>Monetary Policy, Firm Heterogeneity, and the Distribution of Investment Rates</em>  &nbsp; by Matthias Gnewuch
        </li>
    
        <li><em>Asset Supply and Liquidity Transformation in HANK</em>  &nbsp; by Piotr Zoch
        </li>
    
        <li><em>Dual Mandate in THANK: Case for price-level targeting</em>  &nbsp; by Vedanta Dhamija
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | International Economics IV
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Francesco Pappada
    

    <p></p> 

    <ul>
    
        <li><em>Demand learning, customer capital, and exporter dynamics</em>  &nbsp; by Nicholas Kozeniauskas
        </li>
    
        <li><em>Why does risk matter more in recessions than in expansions?</em>  &nbsp; by Giovanni Caggiano
        </li>
    
        <li><em>The Causal Effects of Global Supply Chain Disruption on Macroeconomic Outcomes: Theory and Evidence</em>  &nbsp; by Yiliang Li
        </li>
    
        <li><em>Optimal Monetary Policy, Tariff Shocks and Exporter Dynamics</em>  &nbsp; by Francesco Pappada
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                13:20-14:50 | Labour III
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Normann Rion
    

    <p></p> 

    <ul>
    
        <li><em>On-job search and wage growth</em>  &nbsp; by Mykhailo Matvieiev
        </li>
    
        <li><em>Understanding Cross-country Differences in Health Status and Expenditures: Health Prices Matter</em>  &nbsp; by Thepthida Sopraseuth
        </li>
    
        <li><em>Do Firing Costs Change Wages of Low and High Educated Workers Differently?</em>  &nbsp; by Jhon Jair Gonzalez Pulgarin
        </li>
    
        <li><em>Fluctuations in a Dual Labor Market</em>  &nbsp; by Normann Rion
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions H
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Exchange rate and capital flow policies with incomplete markets
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Special session organized by Kenza Benhima
    

    <p></p> 

    <ul>
    
        <li><em>Optimal Exchange Rate Policy</em>  &nbsp; by Dmitry Mukhin
        </li>
    
        <li><em>Foreign Exchange Intervention with UIP and CIP Deviations: The Case of Small Safe Haven Economies</em>  &nbsp; by Kenza Benhima
        </li>
    
        <li><em>Monetary Policy, Capital Controls, and International Portfolios</em>  &nbsp; by Sebastian Fanelli
        </li>
    
        <li><em>Capital flows and monetary policy trade-offs in emerging market economies</em>  &nbsp; by Paolo Cavalino
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Fiscal Policy
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Youngsoo Jang
    

    <p></p> 

    <ul>
    
        <li><em>Government Debt Management and Inflation with Real and Nominal Bonds</em>  &nbsp; by Vytautas Valaitis
        </li>
    
        <li><em>Debt crises, fast and slow</em>  &nbsp; by Seung Hyun Maeng
        </li>
    
        <li><em>Optimal Public Debt with Labor-Market Frictions</em>  &nbsp; by Caio Bloise
        </li>
    
        <li><em>On the Time Consistency of Universal Basic Income</em>  &nbsp; by Youngsoo Jang
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Heterogeneity II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Jonna Olsson
    

    <p></p> 

    <ul>
    
        <li><em>Heterogeneity in MPCs Beyond Liquidity Constraints:  The Role of Persistent Earnings</em>  &nbsp; by Jeanne Commault
        </li>
    
        <li><em>Make-Up Strategies with Incomplete Markets and Bounded Rationality</em>  &nbsp; by Joost Roettger
        </li>
    
        <li><em>The Composition and Distribution of Wealth and Aggregate Consumption Dynamics</em>  &nbsp; by Baxter Robinson
        </li>
    
        <li><em>Subjective Life Expectancies, Time Preference Heterogeneity, and Wealth Inequality</em>  &nbsp; by Jonna Olsson
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                15:10-16:40 | Inflation II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Gabriel Züllig
    

    <p></p> 

    <ul>
    
        <li><em>Inflation Persistence, Noisy Information, and the Phillips Curve</em>  &nbsp; by José-Elías Gallegos
        </li>
    
        <li><em>Shock Transmissions in Different Inflation Regimes</em>  &nbsp; by Zeno Enders
        </li>
    
        <li><em>Low Passthrough from Inflation Expectations to Income Growth Expectations: Why People Dislike Inflation</em>  &nbsp; by Ina Hajdini
        </li>
    
        <li><em>Consumer memory, inflation expectations and the interpretation of shocks</em>  &nbsp; by Gabriel Züllig
        </li>
    
    </ul>

    </div>






<div style="background-color:lightblue">
    Parallel Sessions I
</div>

<p>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Financial Macroeconomics II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Valere Fourel
    

    <p></p> 

    <ul>
    
        <li><em>From Sovereign to Corporate Risk: The Driving Role of Financial Uncertainty</em>  &nbsp; by Inès Mourelon
        </li>
    
        <li><em>Macro-Financial Trends in a Model with Concentrated Ownership of Capital</em>  &nbsp; by Francesco Saverio Gaudio
        </li>
    
        <li><em>Announcement and Implementation  Effects of Central Bank Asset Purchases</em>  &nbsp; by Antonio Conti
        </li>
    
        <li><em>The impact of the PEPP on the corporate commercial paper market</em>  &nbsp; by Valere Fourel
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Fiscal Policy II
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Daniel Murphy
    

    <p></p> 

    <ul>
    
        <li><em>Estimating the Effects of Government Spending Through the Production Network</em>  &nbsp; by Matteo Cacciatore
        </li>
    
        <li><em>For whom the bill tolls: redistributive consequences of the pandemic policy mix</em>  &nbsp; by Michał Brzoza-Brzezina
        </li>
    
        <li><em>The Importance of Modeling Income Taxes over Time: U.S. Reforms and Outcomes</em>  &nbsp; by Nicolo Russo
        </li>
    
        <li><em>Demand Stimulus as Social Policy</em>  &nbsp; by Daniel Murphy
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | International Economics V
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Andreas Westermark
    

    <p></p> 

    <ul>
    
        <li><em>The Origins of Commodity Price Fluctuations</em>  &nbsp; by Sarah Mouabbi
        </li>
    
        <li><em>International Trade and Macroeconomic Dynamics with Sanctions</em>  &nbsp; by Galip Kemal Ozhan
        </li>
    
        <li><em>Dynamic macroeconomic implications of migration</em>  &nbsp; by Andreas Westermark
        </li>
    
    </ul>

    </div>




    <div class="session">

    <div style="background-color:lightgrey">
        <tr>
            <th align=left>
                17:00-18:30 | Monetary Policy IV
            </th>
        </tr>
    </div>
    
    <p></p> 

    
    Session chair: Matthias Meier
    

    <p></p> 

    <ul>
    
        <li><em>Optimal Monetary Policy in an Estimated SIR Model</em>  &nbsp; by Gauthier Vermandel
        </li>
    
        <li><em>Optimal Macro-prudential Policies with Endogenous Collateral Constraints</em>  &nbsp; by Lingsi Wei
        </li>
    
        <li><em>Optimal Monetary Policy with and without Debt</em>  &nbsp; by Lukas Vogel
        </li>
    
        <li><em>Corporate Debt Maturity Matters For Monetary Policy</em>  &nbsp; by Matthias Meier
        </li>
    
    </ul>

    </div>



