<h2> Sessions Matrix </h2>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Room</th>
      <th>A2.09</th>
      <th>A2.10</th>
      <th>A2.11</th>
      <th>A2.12</th>
      <th>A2.13</th>
      <th>A2.14</th>
    </tr>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">02/05</th>
      <th>09:00 - 10:40</th>
      <td><a href="#s_0"></a></td>
      <td><a href="#s_6496695096252107720">Monetary Policy I</a></td>
      <td><a href="#s_936381654485486075">Climate and Macroeconomics</a></td>
      <td><a href="#s_5629553818777198999">Labor I</a></td>
      <td><a href="#s_2824674477604879903">International I</a></td>
      <td><a href="#s_5335893749761594380">Households I</a></td>
    </tr>
    <tr>
      <th>13:30 - 15:10</th>
      <td><a href="#s_0"></a></td>
      <td><a href="#s_-8104944247531699459">Inflation</a></td>
      <td><a href="#s_-960738689253936878">Inequality</a></td>
      <td><a href="#s_8369205216906621039">Fiscal Policy I</a></td>
      <td><a href="#s_-5937661649513407507">Firms I</a></td>
      <td><a href="#s_6119001902530503973">Financial I</a></td>
    </tr>
    <tr>
      <th>15:30 - 17:10</th>
      <td><a href="#s_-5204327412509859415">Monetary Policy II</a></td>
      <td><a href="#s_3341261044963238736">Fiscal Policy II</a></td>
      <td><a href="#s_-4678078033772465184">Historical Perspective on Macroeconomics</a></td>
      <td><a href="#s_7370793468080510902">Firms II</a></td>
      <td><a href="#s_-4612734381578162921">Environmental Economics I</a></td>
      <td><a href="#s_4254712173291567590">Labor II</a></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">03/05</th>
      <th>09:00 - 10:40</th>
      <td><a href="#s_0"></a></td>
      <td><a href="#s_-7992233620161661103">Firms III</a></td>
      <td><a href="#s_1655996085656185663">Advances in Macro-Finance</a></td>
      <td><a href="#s_4778514407540421225">Environmental Economics II</a></td>
      <td><a href="#s_-8383644502376206536">Expectations</a></td>
      <td><a href="#s_-6305211089418325028">Households II / Family</a></td>
    </tr>
    <tr>
      <th>11:00 - 12:40</th>
      <td><a href="#s_0"></a></td>
      <td><a href="#s_-2850765484912122203">Monetary Policy III</a></td>
      <td><a href="#s_249559218061535479">Young Economists Session</a></td>
      <td><a href="#s_2304566899844201981">Business Cycles</a></td>
      <td><a href="#s_7393270514808102480">Methods</a></td>
      <td><a href="#s_574267099890549065">Fiscal Policy III</a></td>
    </tr>
    <tr>
      <th>15:30 - 17:10</th>
      <td><a href="#s_0"></a></td>
      <td><a href="#s_145090414945052453">Monetary Policy IV</a></td>
      <td><a href="#s_-2493818020473577745">Reinforcement Learning in Economics</a></td>
      <td><a href="#s_-6390575003988729821">International II</a></td>
      <td><a href="#s_9037881917621083949">Financial II</a></td>
      <td><a href="#s_-1931009520206408643">Fiscal Policy IV</a></td>
    </tr>
  </tbody>
</table>

<p>


<h2>Sessions</h2>



    <div style="background-color:lightblue">
        Parallel Sessions A
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_6496695096252107720"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.10 | Monetary Policy I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Reallocation, Productivity, and Monetary Policy in an Energy Crisis</em>  &nbsp; by Andrea  Colciago
        </li>

    

        <li>
        <em>Doing without Nominal Rigidities: Real Effects of Monetary Policy in a Monetary World</em>  &nbsp; by Joao Ritto
        </li>

    

        <li>
        <em>Monetary Policy Design with Recurrent Climate Shocks</em>  &nbsp; by Engin Kara
        </li>

    

        <li>
        <em>Corporate leverage and the effects of monetary policy on investment: A reconciliation of micro and macro elasticities</em>  &nbsp; by Gabriel Züllig
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_936381654485486075"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.11 | Climate and Macroeconomics

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Rick van der Ploeg</emph>
    
    


    <ul>
    

        <li>
        <em>Public Debt in Calibrated OLG Models: Fiscal Arithmetic versus Welfare Analysis</em>  &nbsp; by Johannes Brumm
        </li>

    

        <li>
        <em>Optimal Climate Policy with Incomplete Markets</em>  &nbsp; by Marcelo Pedroni
        </li>

    

        <li>
        <em>Implicit Carbon Prices: Making Do with the Taxes We Have</em>  &nbsp; by Armon Rezai
        </li>

    

        <li>
        <em>The transition to a green economy: Implications for monetary policy</em>  &nbsp; by Francesca Diluiso
        </li>

    

        <li>
        <em>A General Equilibrium Approach to Carbon Permit Banking</em>  &nbsp; by Gauthier Vermandel
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_5629553818777198999"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.12 | Labor I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Network Origin of Slow Labor Reallocation</em>  &nbsp; by Leonard Bocquet
        </li>

    

        <li>
        <em>Job Polarization in a Dual Labor Market</em>  &nbsp; by Normann Rion
        </li>

    

        <li>
        <em>On-The-Job Search, Life-cycle Training, and the Role of Transfer Fees</em>  &nbsp; by Anthony Terriau
        </li>

    

        <li>
        <em>The drag of homeownership on the unemployment scar</em>  &nbsp; by Joaquin Garcia-Cabo
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_2824674477604879903"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.13 | International I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Transmission of Foreign Demand Shocks</em>  &nbsp; by Søren Hove Ravn
        </li>

    

        <li>
        <em>How Does International Capital Flow?</em>  &nbsp; by Michael Kumhof
        </li>

    

        <li>
        <em>Covered Interest Parity: The long-run evidence</em>  &nbsp; by Ji Chen
        </li>

    

        <li>
        <em>Managing the transition to central bank digital currency</em>  &nbsp; by Maria Sole Pagliari
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_5335893749761594380"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.14 | Households I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Effect of Flexible Retirement on the Marginal Propensity to Consume: Theory and Evidence</em>  &nbsp; by Daniel Jonas Schmidt
        </li>

    

        <li>
        <em>Unraveling Drivers of Earnings Inequality: Estimation of a Life-Cycle Model with Human Capital</em>  &nbsp; by Thepthida Sopraseuth
        </li>

    

        <li>
        <em>Geographic Mobility over the Life Cycle</em>  &nbsp; by Antonia Díaz
        </li>

    

        <li>
        <em>Demographic Aging and the New Keynesian Phillips Curve</em>  &nbsp; by Gene Ambrocio
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions B
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-8104944247531699459"></a>
        <tr>
            <th align="left">

            13:30 - 15:10 | Room A2.10 | Inflation

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Generalized Rotemberg Price-Setting</em>  &nbsp; by Adrian Wende
        </li>

    

        <li>
        <em>Wage Setting in Times of High and Low Inflation</em>  &nbsp; by Maximilian Goedl
        </li>

    

        <li>
        <em>When are Technology Improvements Inflationary?</em>  &nbsp; by Hafedh Bouakez
        </li>

    

        <li>
        <em>What drives the recent surge in inflation? The historical decomposition roller coaster</em>  &nbsp; by francesco furlanetto
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-960738689253936878"></a>
        <tr>
            <th align="left">

            13:30 - 15:10 | Room A2.11 | Inequality

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Christian Bayer</emph>
    
    


    <ul>
    

        <li>
        <em>Attitudes towards fiscal policy according to HANK</em>  &nbsp; by Christian Bayer
        </li>

    

        <li>
        <em>Heterogeneous Risk Exposure and the Dynamics of Wealth Inequality</em>  &nbsp; by Riccardo Cioffi
        </li>

    

        <li>
        <em>Capital Income Jumps and Wealth Distribution</em>  &nbsp; by Wei Cui
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_8369205216906621039"></a>
        <tr>
            <th align="left">

            13:30 - 15:10 | Room A2.12 | Fiscal Policy I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Optimal Taxation of Automation</em>  &nbsp; by Ozlem Kina
        </li>

    

        <li>
        <em>Sorting under progressive taxation</em>  &nbsp; by Albert Jan Hummel
        </li>

    

        <li>
        <em>Household Taxation, Work Hours Flexibility and Occupational Choice</em>  &nbsp; by Piotr Denderski
        </li>

    

        <li>
        <em>Labor Market Power and the Effects of Fiscal Policy</em>  &nbsp; by Babette Jansen
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-5937661649513407507"></a>
        <tr>
            <th align="left">

            13:30 - 15:10 | Room A2.13 | Firms I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Credit and Firm Growth</em>  &nbsp; by Andrea Sy
        </li>

    

        <li>
        <em>Start-up Financing, Entry and Innovation</em>  &nbsp; by Charles Parry
        </li>

    

        <li>
        <em>Nets on Nets: Amplification and Nonlinearities in Dynamic Production Networks</em>  &nbsp; by Matias Covarrubias
        </li>

    

        <li>
        <em>The Bang for the Buck: Aggregate Impact of Firm-Level R&D Incentives</em>  &nbsp; by Marek Ignaszak
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_6119001902530503973"></a>
        <tr>
            <th align="left">

            13:30 - 15:10 | Room A2.14 | Financial I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Zero Lower Bound on Household Deposit Rates - Not as Binding As We Thought</em>  &nbsp; by Philipp Ulbing
        </li>

    

        <li>
        <em>Safe Asset Provision in a Modern Banking System: A Regulatory Perspective</em>  &nbsp; by Fabian Wassmann
        </li>

    

        <li>
        <em>Deposit Rates, Monetary Policy, and Bank Income Source</em>  &nbsp; by Isabel Gödl-Hanisch
        </li>

    

        <li>
        <em>Heterogeneous Banks, Liquidity Risk and the Distribution of Banks' Liquidity</em>  &nbsp; by Concetta Gigante
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions C
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-5204327412509859415"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.09 | Monetary Policy II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Monetary Policy Under Multiple Financing Constraints</em>  &nbsp; by Alejandro  Van der Ghote
        </li>

    

        <li>
        <em>Foreign US Monetary Policy Spillovers: The Balance Sheet Channel</em>  &nbsp; by Jacob Marott Sundram
        </li>

    

        <li>
        <em>Risky firms and fragile banks: implications for macroprudential policy</em>  &nbsp; by Tommaso Gasparini
        </li>

    

        <li>
        <em>Sticky Information and the Taylor Principle</em>  &nbsp; by Mary Tzaawa-Krenzler
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_3341261044963238736"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.10 | Fiscal Policy II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Organization of Knowledge and Taxation</em>  &nbsp; by Ctirad Slavik
        </li>

    

        <li>
        <em>Robust Bounds on Optimal Tax Progressivity</em>  &nbsp; by Yuki Yao
        </li>

    

        <li>
        <em>Commodity Prices and Fiscal (Pro)Cyclicality</em>  &nbsp; by Federico Di Pace
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-4678078033772465184"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.11 | Historical Perspective on Macroeconomics

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Béatrice Cherrier</emph>
    
    


    <ul>
    

        <li>
        <em>From optimal growth to energy and climate models: how the Ramsey Formula came to define time discounting in economics (</em>  &nbsp; by Béatrice Cherrier
        </li>

    

        <li>
        <em>Unified Growth Theory: Unifying what exactly?</em>  &nbsp; by Tanguy Le Fur
        </li>

    

        <li>
        <em>Microfounding Macroeconomics: The Physics Envy</em>  &nbsp; by Aurélien Saidi
        </li>

    

        <li>
        <em>Macroeconomics and Behavioural Economics: An Alternative Programme for Microfoundations?</em>  &nbsp; by Francesco Sergi
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_7370793468080510902"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.12 | Firms II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Supply Chain Dynamics with Search Frictions</em>  &nbsp; by Lauri Esala
        </li>

    

        <li>
        <em>Superstar Firms and Aggregate Fluctuations</em>  &nbsp; by Mark Weder
        </li>

    

        <li>
        <em>Industrial policy in endogenous production networks</em>  &nbsp; by Come Poirier
        </li>

    

        <li>
        <em>Patents that Match your Standards: Firm-level Evidence on Competition, Innovation and Growth</em>  &nbsp; by Riccardo  Zago
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-4612734381578162921"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.13 | Environmental Economics I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Investing in the green transition and competition from laggards</em>  &nbsp; by Johanna Saecker
        </li>

    

        <li>
        <em>Green and Brown Returns in a Production Economy</em>  &nbsp; by Ivan Jaccard
        </li>

    

        <li>
        <em>Green Ambiguity</em>  &nbsp; by Marco Carli
        </li>

    

        <li>
        <em>The green metamorphosis of a small open economy</em>  &nbsp; by Florencia Airaudo
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_4254712173291567590"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.14 | Labor II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Optimal Unemployment Insurance in a THANK Model</em>  &nbsp; by Aurélien Eyquem
        </li>

    

        <li>
        <em>Social Security and Life-Cycle Variation in the Cost of Job Loss</em>  &nbsp; by Frank Leenders
        </li>

    

        <li>
        <em>Job Security and Liquid Wealth</em>  &nbsp; by Ana Figueiredo
        </li>

    

        <li>
        <em>Inflation and Unemployment in the Long Run Revisited</em>  &nbsp; by Sébastien Lotz
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions D
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-7992233620161661103"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.10 | Firms III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Monetary Policy and Aggregate Investment: The Role of Entrepreneurs</em>  &nbsp; by Alexander Matusche
        </li>

    

        <li>
        <em>The Racial Wealth Gap: the Role of Entrepreneurship</em>  &nbsp; by Daniel Albuquerque
        </li>

    

        <li>
        <em>Non-Linear Productivity and Investment Dynamics</em>  &nbsp; by Julio Galvez
        </li>

    

        <li>
        <em>Work from Home, Business Entry and Exit, and the Macroeconomy</em>  &nbsp; by Chenchuan Shi
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_1655996085656185663"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.11 | Advances in Macro-Finance

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Tim Landvoigt</emph>
    
    


    <ul>
    

        <li>
        <em>Asset Pricing with Optimal Under-Diversification</em>  &nbsp; by Tim Landvoigt
        </li>

    

        <li>
        <em>Aggregate Precautionary Savings Motive</em>  &nbsp; by Pierre Mabille
        </li>

    

        <li>
        <em>HBANK: Monetary Policy with Heterogeneous Banks</em>  &nbsp; by Marco Bellifemine
        </li>

    

        <li>
        <em>Public Debt in Calibrated OLG Models: Fiscal Arithmetic versus Welfare Analysis</em>  &nbsp; by Jakob Hussmann
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_4778514407540421225"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.12 | Environmental Economics II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Unequal Climate Policy in an Unequal World</em>  &nbsp; by Elisa Belfiori
        </li>

    

        <li>
        <em>The Dangers of Abatement Procrastination in a Tipping Climate</em>  &nbsp; by Andrea  Titton
        </li>

    

        <li>
        <em>Win as a Team or Fail as Individuals: Cooperation and Non-Cooperation in the Climate Tax Game</em>  &nbsp; by Marten  Hillebrand
        </li>

    

        <li>
        <em>Three reasons to price carbon under uncertainty: Accuracy of simple rules</em>  &nbsp; by Christoph Hambel
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-8383644502376206536"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.13 | Expectations

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Biased Surveys</em>  &nbsp; by Luca Gemmi
        </li>

    

        <li>
        <em>Adaptive Learning and Survey Expectations of Inflation</em>  &nbsp; by Yuliya Rychalovska
        </li>

    

        <li>
        <em>Long-run inflation expectations</em>  &nbsp; by Sebastian Rast
        </li>

    

        <li>
        <em>Perceived versus Calibrated Income Risks in Heterogeneous-Agent Consumption Models</em>  &nbsp; by Tao Wang
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-6305211089418325028"></a>
        <tr>
            <th align="left">

            09:00 - 10:40 | Room A2.14 | Households II / Family

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Heterogeneity in MPC Beyond Liquid Wealth: The Role of Permanent Earnings</em>  &nbsp; by Jeanne Commault
        </li>

    

        <li>
        <em>Low-Income Families, Maternal Labor Supply, and Welfare Reform</em>  &nbsp; by Viola Garstenauer
        </li>

    

        <li>
        <em>Macroeconomic Effects of the Gender Revolution</em>  &nbsp; by Luca Fosso
        </li>

    

        <li>
        <em>The simple life? Heterogeneity in income risk and household portfolios</em>  &nbsp; by Sebastian Hildebrand
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions E
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-2850765484912122203"></a>
        <tr>
            <th align="left">

            11:00 - 12:40 | Room A2.10 | Monetary Policy III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Non-Keynesian stabilizers and inflation spirals</em>  &nbsp; by Xavier Ragot
        </li>

    

        <li>
        <em>Resolving New Keynesian Puzzles</em>  &nbsp; by Nigel McClung
        </li>

    

        <li>
        <em>Money Markets, Collateral and Monetary Policy</em>  &nbsp; by Ciaran Rogers
        </li>

    

        <li>
        <em>Does the transmission monetary policy shocks change when inflation is high?*</em>  &nbsp; by fabio canova
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_249559218061535479"></a>
        <tr>
            <th align="left">

            11:00 - 12:40 | Room A2.11 | Young Economists Session

            </th>

        </tr>
    </div>



     


    <emph>Session organized by T2M</emph>
    
    


    <ul>
    

        <li>
        <em>Deep Learning for Search and Matching Models</em>  &nbsp; by Yucheng Yang
        </li>

    

        <li>
        <em>Financial Skills and Search in the Mortgage Market</em>  &nbsp; by Marta Cota
        </li>

    

        <li>
        <em>The Spatial and Distributive Implications of Working-from-Home: a General Equilibrium Model</em>  &nbsp; by Morgane Richard
        </li>

    

        <li>
        <em>Technological Change and Unions: An Intergenerational Conflict with Aggregate Impact</em>  &nbsp; by Leon Huetsch
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_2304566899844201981"></a>
        <tr>
            <th align="left">

            11:00 - 12:40 | Room A2.12 | Business Cycles

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Deconstructing Geopolitical Risk Surprises</em>  &nbsp; by Marco Pinchetti
        </li>

    

        <li>
        <em>On the band-spectral estimation of business cycle models</em>  &nbsp; by Nikolay Iskrev
        </li>

    

        <li>
        <em>Equilibrium Job Turnover and the Business Cycle</em>  &nbsp; by Alex Clymo
        </li>

    

        <li>
        <em>Monetary Policy in a Tightening Cycle</em>  &nbsp; by Alexander Haas
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_7393270514808102480"></a>
        <tr>
            <th align="left">

            11:00 - 12:40 | Room A2.13 | Methods

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Heterogeneous Risk Preferences, Entrepreneurship, and Wealth Inequality</em>  &nbsp; by Fabian Prettenthaler
        </li>

    

        <li>
        <em>Top Wealth Is Distributed Weibull, Not Pareto</em>  &nbsp; by Simon Toussaint
        </li>

    

        <li>
        <em>HANK on Speed: Robust Nonlinear Solutions using Automatic Differentiation</em>  &nbsp; by Gregor Boehl
        </li>

    

        <li>
        <em>Numerical Stability Analysis of Linear DSGE Models: Backward Errors, Forward Errors and Condition Numbers</em>  &nbsp; by Alexander Meyer-Gohde
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_574267099890549065"></a>
        <tr>
            <th align="left">

            11:00 - 12:40 | Room A2.14 | Fiscal Policy III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Optimal Redistribution with Government Debt</em>  &nbsp; by Kirill Shakhnov
        </li>

    

        <li>
        <em>Decomposing the Government Transfer Multiplier</em>  &nbsp; by Bill Dupor
        </li>

    

        <li>
        <em>A Taxing Journey: Tax Adoptions and Interstate Migration in the Early 20th Century</em>  &nbsp; by Stefan Smutny
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions F
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_145090414945052453"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.10 | Monetary Policy IV

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Unemployment and the State-Dependent Effects of Monetary Policy</em>  &nbsp; by Eva Frieda Janssens
        </li>

    

        <li>
        <em>Decomposing HANK</em>  &nbsp; by Zheng Gong
        </li>

    

        <li>
        <em>The aggregate and distributional implications of credit shocks on housing and rental markets</em>  &nbsp; by Juan Castellanos
        </li>

    

        <li>
        <em>Monetary Policy and Wealth Effects: The Role of Risk and Heterogeneity</em>  &nbsp; by Dejanir Silva
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-2493818020473577745"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.11 | Reinforcement Learning in Economics

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Lilia Maliar</emph>
    
    


    <ul>
    

        <li>
        <em>Reinforcement Learning in Macroeconomics: Past Lessons and Future Directions</em>  &nbsp; by Nathan Palmer
        </li>

    

        <li>
        <em>Adaptive behavior in the lab</em>  &nbsp; by Cars Hommes
        </li>

    

        <li>
        <em>Reinforcement learning for household finance: designing policy via responsiveness</em>  &nbsp; by Lilia Maliar
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-6390575003988729821"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.12 | International II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Global Value Chains and International Risk Sharing</em>  &nbsp; by Rana Sajedi
        </li>

    

        <li>
        <em>Domestic Inequality and Global Imbalances</em>  &nbsp; by Jan Mazza
        </li>

    

        <li>
        <em>The collateral channel: Heterogeneity within and between countries</em>  &nbsp; by Lise Patureau
        </li>

    

        <li>
        <em>Granular Expectation Shocks and International Financial Contagion</em>  &nbsp; by Margaret Davenport
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_9037881917621083949"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.13 | Financial II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Naïve Consumers and Financial Mistakes</em>  &nbsp; by Florian Exler
        </li>

    

        <li>
        <em>The Macroeconomics of Liquidity in Financial Intermediation</em>  &nbsp; by Davide Porcellacchia
        </li>

    

        <li>
        <em>Asset Market Participation, Redistribution, and Asset Pricing</em>  &nbsp; by Francesco Saverio Gaudio
        </li>

    

        <li>
        <em>Financial repression in general equilibrium: The case of the United States, 1948–1974</em>  &nbsp; by Martin Kliem
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-1931009520206408643"></a>
        <tr>
            <th align="left">

            15:30 - 17:10 | Room A2.14 | Fiscal Policy IV

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Debt Sustainability and Fiscal Consolidation in HANK</em>  &nbsp; by Fabien Tripier
        </li>

    

        <li>
        <em>Federation as a Commitment Device</em>  &nbsp; by Jacopo Orlandi
        </li>

    

        <li>
        <em>Fear of Hiking? Rising Interest Rates in Times of High Public Debt</em>  &nbsp; by Leopold Zessner-Spitzenberg
        </li>

    
    </ul>

    </div>

    


