<h2> Sessions Matrix </h2>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Room</th>
      <th>102-1002</th>
      <th>102-1003</th>
      <th>102-1004</th>
      <th>102-2007</th>
      <th>102-2009</th>
    </tr>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">22/05</th>
      <th>10:15-11:55</th>
      <td><a href="#s_9019043879770907292">Noncooperative Policies in the Global Economy</a></td>
      <td><a href="#s_-3952824663343716760">Firms I</a></td>
      <td><a href="#s_-1372044633982126762">Monetary Policy I</a></td>
      <td><a href="#s_-7462433052715260532">Expectations I</a></td>
      <td><a href="#s_8515918649832859788">Labour I</a></td>
    </tr>
    <tr>
      <th>15:10-16:50</th>
      <td><a href="#s_-7706764880430090424">Behavioural Macroeconomics</a></td>
      <td><a href="#s_-4611504195663558056">Methods</a></td>
      <td><a href="#s_-3361091977221830730">International I</a></td>
      <td><a href="#s_2978824088502870987">Monetary Policy II</a></td>
      <td><a href="#s_8164927232989324755">HANK</a></td>
    </tr>
    <tr>
      <th>17:10-18:25</th>
      <td><a href="#s_7650293359770222303">Banks I</a></td>
      <td><a href="#s_-2677750330235585819">Housing</a></td>
      <td></td>
      <td><a href="#s_-1939026943251786482">Firms II</a></td>
      <td><a href="#s_4070314778219169128">Labour II</a></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">23/05</th>
      <th>10:00-11:15</th>
      <td><a href="#s_7778161275896438985">Macroeconomics and Public Finance</a></td>
      <td><a href="#s_8028318523285479557">Wealth</a></td>
      <td><a href="#s_-7438768297741178745">Heterogeneity & Taxation</a></td>
      <td><a href="#s_6827486172033156849">Business Cycles</a></td>
      <td><a href="#s_2083807164001132378">Labour III</a></td>
    </tr>
    <tr>
      <th>14:25-15:40</th>
      <td><a href="#s_1107030189869945549">Housing and the Macroeconomy</a></td>
      <td><a href="#s_-268608300802864484">Firms III</a></td>
      <td><a href="#s_9118484095406527237">Climate and Disasters</a></td>
      <td><a href="#s_-1926306028913236703">Households</a></td>
      <td><a href="#s_7635357977911300102">International II</a></td>
    </tr>
    <tr>
      <th>16:00-17:15</th>
      <td><a href="#s_-8665865947909951270">Banks II</a></td>
      <td><a href="#s_-7430433743708412160">Expectations II</a></td>
      <td></td>
      <td><a href="#s_6433902280221692638">Monetary Policy III</a></td>
      <td><a href="#s_-5182801647833761913">Production Networks</a></td>
    </tr>
  </tbody>
</table>

<p>


<h2>Sessions</h2>



    <div style="background-color:lightblue">
        Parallel Sessions A
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_9019043879770907292"></a>
        <tr>
            <th align="left">

            10:15-11:55 | Room 102-1002 | Noncooperative Policies in the Global Economy

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Stéphane Auray and Aurélien Eyquem</emph>
    
    


    <ul>
    

        <li>
        <em>TBA</em>  &nbsp; by Aydan Dogan
        </li>

    

        <li>
        <em>The Optimal Monetary Policy Response to Tariffs</em>  &nbsp; by Louphou Coulibaly
        </li>

    

        <li>
        <em>Multinational Production and Trade Policy</em>  &nbsp; by Sebastian Heise
        </li>

    

        <li>
        <em>Trade Wars, Capital Controls and Financial Market Structures</em>  &nbsp; by Michael Devereux
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-3952824663343716760"></a>
        <tr>
            <th align="left">

            10:15-11:55 | Room 102-1003 | Firms I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Executive compensation and firm investment</em>  &nbsp; by Chryssi Giannitsarou
        </li>

    

        <li>
        <em>The rise of shareholder capitalism: macroeconomic implications</em>  &nbsp; by Francois Gourio
        </li>

    

        <li>
        <em>Sorting Into Entrepreneurial Teams</em>  &nbsp; by Edoardo Maria Acabbi
        </li>

    

        <li>
        <em>Industrial Policy Wars and Inequality: Who Loses and When?</em>  &nbsp; by Adam Spencer
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-1372044633982126762"></a>
        <tr>
            <th align="left">

            10:15-11:55 | Room 102-1004 | Monetary Policy I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Profits, Inflation and Monetary Policy</em>  &nbsp; by Enisse Kharroubi
        </li>

    

        <li>
        <em>Beyond the Short Run: Monetary Policy and Innovation Investment</em>  &nbsp; by Olga Goldfayn-Frank
        </li>

    

        <li>
        <em>The Housing Channels of Monetary Policy</em>  &nbsp; by Andreas Westermark
        </li>

    

        <li>
        <em>Deciphering the Neo-Fisherian Effect</em>  &nbsp; by HAFEDH BOUAKEZ
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-7462433052715260532"></a>
        <tr>
            <th align="left">

            10:15-11:55 | Room 102-2007 | Expectations I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The State-Dependent Effects of Changes in Beliefs</em>  &nbsp; by Elena Afanasyeva
        </li>

    

        <li>
        <em>Uncovering attention heterogeneity</em>  &nbsp; by Jérémy Boccanfuso
        </li>

    

        <li>
        <em>Households' Macroeconomic Beliefs: The Role of Education</em>  &nbsp; by Jessica Piccolo
        </li>

    

        <li>
        <em>Sovereign Risk under Diagnostic Expectations</em>  &nbsp; by Timm Prein
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_8515918649832859788"></a>
        <tr>
            <th align="left">

            10:15-11:55 | Room 102-2009 | Labour I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Pension System Design Under Fluctuating Labor Shares</em>  &nbsp; by Michael Reiter
        </li>

    

        <li>
        <em>Gender Divergence in Sectors of Work</em>  &nbsp; by Sena Coskun
        </li>

    

        <li>
        <em>“We offer weekly pay”: Paycheck frequency and the need for liquidity of American workers</em>  &nbsp; by Khanh Hoang
        </li>

    

        <li>
        <em>Self-employment as Self-insurance</em>  &nbsp; by Daniel Jaar
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions B
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-7706764880430090424"></a>
        <tr>
            <th align="left">

            15:10-16:50 | Room 102-1002 | Behavioural Macroeconomics

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Isabelle Salle</emph>
    
    


    <ul>
    

        <li>
        <em>TBA</em>  &nbsp; by Muhammed Bulutay
        </li>

    

        <li>
        <em>TBA</em>  &nbsp; by Steven Hoekstra
        </li>

    

        <li>
        <em>TBA</em>  &nbsp; by Daria Minina
        </li>

    

        <li>
        <em>TBA</em>  &nbsp; by Alex Grimaud
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-4611504195663558056"></a>
        <tr>
            <th align="left">

            15:10-16:50 | Room 102-1003 | Methods

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The gradient-free bias-corrected Monte Carlo operator: Solving economic models with neural networks without backpropagation</em>  &nbsp; by Julien Pascal
        </li>

    

        <li>
        <em>A Global Solution Method for HACT Models with Aggregate Risk</em>  &nbsp; by Niklas Bonnmann
        </li>

    

        <li>
        <em>Latent MPC heterogeneity during COVID-19: a classifier-Lasso approach</em>  &nbsp; by Emily Barnes
        </li>

    

        <li>
        <em>Taylor Projection under Tail-risk</em>  &nbsp; by Oskar Juul
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-3361091977221830730"></a>
        <tr>
            <th align="left">

            15:10-16:50 | Room 102-1004 | International I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>International risk-sharing and inequality transmission: an application to the euro area</em>  &nbsp; by Naomi Cohen
        </li>

    

        <li>
        <em>The United States as the International Lender of Last Resort</em>  &nbsp; by Diego Bohorquez
        </li>

    

        <li>
        <em>Optimal Fiscal Policy under Endogenous Disaster Risk: How to Avoid Wars?</em>  &nbsp; by Vytautas Valaitis
        </li>

    

        <li>
        <em>The Pass-through of Currency Risk Premia</em>  &nbsp; by Paulo Santos Monteiro
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_2978824088502870987"></a>
        <tr>
            <th align="left">

            15:10-16:50 | Room 102-2007 | Monetary Policy II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Addictive Monetary Policy</em>  &nbsp; by Leopold Zessner-Spitzenberg
        </li>

    

        <li>
        <em>Rationing Under Sticky Prices</em>  &nbsp; by Tom Holden
        </li>

    

        <li>
        <em>Central Bank Bond Purchases and Rollover Crises</em>  &nbsp; by Paul Fontanier
        </li>

    

        <li>
        <em>Monetary Policy Rules: The Market's view</em>  &nbsp; by Federico Di Pace
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_8164927232989324755"></a>
        <tr>
            <th align="left">

            15:10-16:50 | Room 102-2009 | HANK

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Government Investment in a Heterogeneous-Agent New Keynesian Model</em>  &nbsp; by Matija Lozej
        </li>

    

        <li>
        <em>The Macroeconomics of Labor Shortages</em>  &nbsp; by Brigitte Hochmuth
        </li>

    

        <li>
        <em>The Long-Run Effects of Fiscal Rebalancing in a Heterogeneous-Agent Model</em>  &nbsp; by Julien Matheron
        </li>

    

        <li>
        <em>Tax Structures and Fiscal Multipliers in HANK Models</em>  &nbsp; by Ante Sterc
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions C
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_7650293359770222303"></a>
        <tr>
            <th align="left">

            17:10-18:25 | Room 102-1002 | Banks I

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>AI Coordination and Self-fulfilling Financial Crises</em>  &nbsp; by Hao Yang
        </li>

    

        <li>
        <em>System-wide Dividend Restrictions: Evidence and Theory</em>  &nbsp; by Alejandro Van der Ghote
        </li>

    

        <li>
        <em>Imperfect Banking Competition and the Propagation of Uncertainty Shocks</em>  &nbsp; by Tommaso Gasparini
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-2677750330235585819"></a>
        <tr>
            <th align="left">

            17:10-18:25 | Room 102-1003 | Housing

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>NIMBYism and the Housing Supply</em>  &nbsp; by Isaac Gross
        </li>

    

        <li>
        <em>Intergenerational Spillovers: The Impact of Labor Market Risk on the Housing Market</em>  &nbsp; by Leanne Nam
        </li>

    

        <li>
        <em>Effect of Credit Score Constraints on Mortgage Loans in the Housing Market</em>  &nbsp; by Dong Ho Kang
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-1939026943251786482"></a>
        <tr>
            <th align="left">

            17:10-18:25 | Room 102-2007 | Firms II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>A Tale of Two Markups: Reconciling Supply- and Demand-Based Estimates</em>  &nbsp; by Timo Reinelt
        </li>

    

        <li>
        <em>Heterogeneous Firms, Monetary Policy, and Growth</em>  &nbsp; by Maria Agustina Sampaolesi
        </li>

    

        <li>
        <em>Capping Profits for Efficiency</em>  &nbsp; by Gabriele Patete
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_4070314778219169128"></a>
        <tr>
            <th align="left">

            17:10-18:25 | Room 102-2009 | Labour II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Should I Stay or Should I Go? The Response of Labor Migration to Economic Shocks.</em>  &nbsp; by Christian Pröbsting
        </li>

    

        <li>
        <em>Local Unemployment, Worker Mobility and Labor Market Outcomes: Evidence from Germany</em>  &nbsp; by Johannes Weber
        </li>

    

        <li>
        <em>The Deadweight Loss of Short-Time Work</em>  &nbsp; by Nathan Vieira
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions D
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_7778161275896438985"></a>
        <tr>
            <th align="left">

            10:00-11:15 | Room 102-1002 | Macroeconomics and Public Finance

            </th>

        </tr>
    </div>



     


    <emph>Session organized by François Le Grand</emph>
    
    


    <ul>
    

        <li>
        <em>TBA</em>  &nbsp; by Pontus Rendahl
        </li>

    

        <li>
        <em>TBA</em>  &nbsp; by Alan Olivi
        </li>

    

        <li>
        <em>TBA</em>  &nbsp; by Tobias Broer
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_8028318523285479557"></a>
        <tr>
            <th align="left">

            10:00-11:15 | Room 102-1003 | Wealth

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Wealth tax, entrepreneurship and market power</em>  &nbsp; by Matteo Cremonini
        </li>

    

        <li>
        <em>Income Inequality and the Rise of Risky Capital</em>  &nbsp; by Andrej Mijakovic
        </li>

    

        <li>
        <em>The Preference for Wealth and Inequality: Towards a Piketty Theory of Wealth Inequality</em>  &nbsp; by Jean-Baptiste Michau
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-7438768297741178745"></a>
        <tr>
            <th align="left">

            10:00-11:15 | Room 102-1004 | Heterogeneity & Taxation

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>TBA</em>  &nbsp; by François Le Grand
        </li>

    

        <li>
        <em>Forward guidance and fiscal rules in HANK</em>  &nbsp; by Ansgar Rannenberg
        </li>

    

        <li>
        <em>Corporate taxation and firm heterogeneity</em>  &nbsp; by Julien Albertini
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_6827486172033156849"></a>
        <tr>
            <th align="left">

            10:00-11:15 | Room 102-2007 | Business Cycles

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Perceived Unemployment Risks Over Business Cycles</em>  &nbsp; by Tao Wang
        </li>

    

        <li>
        <em>The Role of Risk Sharing in Attenuating Business Cycles Within Currency Unions</em>  &nbsp; by Alberto Pavia
        </li>

    

        <li>
        <em>Demand Shocks and Prices---Micro Evidence and Macro Implications</em>  &nbsp; by Tobias Renkin
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_2083807164001132378"></a>
        <tr>
            <th align="left">

            10:00-11:15 | Room 102-2009 | Labour III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>A Structural Analysis of Long-Run Changes in the U.S. College Premium and Lifetime Wages</em>  &nbsp; by Thepthida Sopraseuth
        </li>

    

        <li>
        <em>The Dual Face of Routine Employment</em>  &nbsp; by Normann Rion
        </li>

    

        <li>
        <em>Structural Change and Regional Income Convergence: Evidence from China</em>  &nbsp; by Lise Patureau
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions E
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_1107030189869945549"></a>
        <tr>
            <th align="left">

            14:25-15:40 | Room 102-1002 | Housing and the Macroeconomy

            </th>

        </tr>
    </div>



     


    <emph>Session organized by Rachel Ngai</emph>
    
    


    <ul>
    

        <li>
        <em>TBA</em>  &nbsp; by Kevin Sheedy
        </li>

    

        <li>
        <em>Credit and Inventories in Illiquid Housing Markets</em>  &nbsp; by Antonia Díaz
        </li>

    

        <li>
        <em>Monetary Transmission Through the Housing Sector</em>  &nbsp; by Jamie Lenney
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-268608300802864484"></a>
        <tr>
            <th align="left">

            14:25-15:40 | Room 102-1003 | Firms III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Labor force growth and firm dynamics in the U.S. and Europe</em>  &nbsp; by Elena Casanovas
        </li>

    

        <li>
        <em>Knowledge Generality and Growth</em>  &nbsp; by Chenchuan Shi
        </li>

    

        <li>
        <em>Winners and Losers: How Corporate Tax Reforms Reshape the Firm Distribution</em>  &nbsp; by Elliott Weder
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_9118484095406527237"></a>
        <tr>
            <th align="left">

            14:25-15:40 | Room 102-1004 | Climate and Disasters

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Bailing Out Homeowners: Disaster Aid and Mortgage Default after Natural Disasters</em>  &nbsp; by Marina Hoch
        </li>

    

        <li>
        <em>Carbon Emissions and the Transmission of Monetary Policy</em>  &nbsp; by Jose Nicolas Rosas
        </li>

    

        <li>
        <em>Intergenerational Consequences of Rare Disasters</em>  &nbsp; by Jan Žemlička
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-1926306028913236703"></a>
        <tr>
            <th align="left">

            14:25-15:40 | Room 102-2007 | Households

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>College as Human Capital Investments or Tournament: A Macroeconomic Analysis</em>  &nbsp; by Siyu Shi
        </li>

    

        <li>
        <em>Household processing effort over the business cycle: Time and price implications</em>  &nbsp; by Justine Guillochon
        </li>

    

        <li>
        <em>Balancing Work and Life: Working from Home, Wages, and Part-time Work in the UK</em>  &nbsp; by Alberto Polo
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_7635357977911300102"></a>
        <tr>
            <th align="left">

            14:25-15:40 | Room 102-2009 | International II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>International Trade and Macroeconomic Dynamics with Sanctions</em>  &nbsp; by Fabio Ghironi
        </li>

    

        <li>
        <em>Dangerous Liaisons? Debt Supply and Convenience Yield Spillovers in the Euro Area</em>  &nbsp; by Cristian Arcidiacono
        </li>

    

        <li>
        <em>Global Shocks and Local Response: Currency Risk and Monetary Policy</em>  &nbsp; by Husnu Dalgic
        </li>

    
    </ul>

    </div>

    




    <div style="background-color:lightblue">
        Parallel Sessions F
    </div>

    <p></p>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-8665865947909951270"></a>
        <tr>
            <th align="left">

            16:00-17:15 | Room 102-1002 | Banks II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Heterogeneous Bank Lending Channel of Monetary Policy</em>  &nbsp; by Jorge Abad
        </li>

    

        <li>
        <em>The Positive Neutral Countercyclical Capital Buffer</em>  &nbsp; by Manuel Munoz
        </li>

    

        <li>
        <em>From Spreads to Spirals How Financial Frictions Drive Lumpy Investments</em>  &nbsp; by Miguel H. Ferreira
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-7430433743708412160"></a>
        <tr>
            <th align="left">

            16:00-17:15 | Room 102-1003 | Expectations II

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Bu</em>  &nbsp; by Erwan Gautier
        </li>

    

        <li>
        <em>When does Monetary Policy Matter? The Life-Cycle of Policy Expectations</em>  &nbsp; by Mathias Lé
        </li>

    

        <li>
        <em>Inheritance Expectations, Dynastic Altruism, and Education</em>  &nbsp; by Jan Mazza
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_6433902280221692638"></a>
        <tr>
            <th align="left">

            16:00-17:15 | Room 102-2007 | Monetary Policy III

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>The Labor Demand and Labor Supply Channels of Monetary Policy</em>  &nbsp; by Sebastian Graves
        </li>

    

        <li>
        <em>On the Distributional Effects of Conventional Monetary Policy and Forward Guidance</em>  &nbsp; by Pascal Meichtry
        </li>

    

        <li>
        <em>Asymmetric Monetary Shocks in the Euro Area: The Role of Liquidity Constraints and Labor Market Frictions</em>  &nbsp; by Louise Narbonne
        </li>

    
    </ul>

    </div>

    

    <div class="session">

    <div style="background-color:lightgrey"><a name="s_-5182801647833761913"></a>
        <tr>
            <th align="left">

            16:00-17:15 | Room 102-2009 | Production Networks

            </th>

        </tr>
    </div>



    


    <ul>
    

        <li>
        <em>Uncertainty through the Production Network: Sectoral Origins and Macroeconomic Implications</em>  &nbsp; by Matteo Cacciatore
        </li>

    

        <li>
        <em>Financial constraints across the production network and the transmission of monetary policy</em>  &nbsp; by Matteo Sirani
        </li>

    

        <li>
        <em>The Transmission of Foreign Shocks in a Networked Economy</em>  &nbsp; by Javier Quintana
        </li>

    
    </ul>

    </div>

    


