---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="text-align:center">

    <img src="assets/2024/hippo.jpg">

    <p><p>

    The 2024 Conference will take place in Amsterdam on <strong><div> the 2nd and 3rd of May</div></strong>
    <p>
    It will be hosted at University of Amsterdam
    <p>

    <!-- ➡️<a href="https://www.eventbrite.com/e/t2m-conference-paris-tickets-625202807427">Registration</a>⬅️ is open! -->
  
  </div>
  

</div>

