---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="text-align:center">

    <img src="assets/2025/CREST.jpg">

    <p><p>

    The 2025 Conference will take place in Paris on <strong><div> May 22-23</div></strong>
    
    <p><p>

    It will be hosted by <a href="https://crest.science/">CREST</a>.
    <p>

    <!-- ➡️<a href="https://www.eventbrite.com/e/t2m-conference-paris-tickets-625202807427">Registration</a>⬅️ is open! -->
  
  </div>
  

</div>

