---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="text-align:center">

    <img src="assets/img/escp_montparnasse.jpg">

    <p><p>

    The 2023 Conference will take place in Paris on <strong><div> the 1st and 2nd of June</div></strong>
    <p>
    It will be hosted at ESCP Business School close to Montparnasse.
    <p>

    ➡️<a href="https://www.eventbrite.com/e/t2m-conference-paris-tickets-625202807427">Registration</a>⬅️ is open!
  
  </div>
  

</div>

